.thread-container {
  flex: 3 0;
  padding: 1.5em;
  overflow-y: auto;
}

.key {
  color: #fff;
  background: #fff;
  cursor: pointer;
}

.thread-toggle {
  display: flex;
  align-items: center;
}
.thread-toggle button {
  min-width: unset;
  margin: unset;
}
